.pricing {
    padding: 95px 0 145px 0;
    background-color: var(--co-dark-green);
    color: var(--co-white);
}

.pricing__content {
    padding: 0 0 0 20px;
}

.pricing__title {
    font-size: 40px;
    font-weight: 700;
    /* padding-bottom: 65px; */
}

.pricing__nav {
    margin: 60px 0 0 0 ;
}

.pricing__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 50px;
}



.pricing__nav-link {
    font-size: 25px;
    font-weight: 400;
    
}